%h1#main-title TODO LIST
%form#new_list
  %label Name
  %input#new_list_name{:name => "name", :type => "text"}
  %label Description
  %input#new_list_description{:name => "description", :type => "text"}
    %input{:type => "submit", :value => "add"}
%ul#lists
